.navBarTitle{
    background-color: blueviolet;
    margin: 0px;
    padding: 20px 0px 20px 10px;
    font-size: x-large;
}
.navBarHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navBarHeader img{
    height: 30px;
    width: 30px;
}
.navBar{
    background-color: rgb(39, 36, 36);
    color: white;
    width: 25%;
}
.navBarContentBuilder{
    background-color: black;
    color:white;
    padding: 20px 20px 20px 20px;
}
