/* "flex flex-col justify-center items-center min-h-screen" */

.errorPage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.errorPage p{
    font-size: xx-large;
}